UI_URL=

PORT=
API_ENVIRONMENT=

EMAIL_USER=
EMAIL_PASS=

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=

MONGO_CONNECTION_DB=
MONGO_CONNECTION_USER=
MONGO_CONNECTION_PASSWORD=
MONGO_CONNECTION_CLUSTER=
MONGO_CONNECTION_APP_NAME=

GENIMI_API_KEY=